
@import url("@triadica/touch-control/assets/touch-control.css");

body {
  margin: 0;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  background-color: hsl(0, 0%, 10%);
  padding: 40px;
  color: hsl(0, 0%, 36%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body * {
  flex-shrink: 0;
  box-sizing: border-box;
}

div.touch-control .circle-button {
  background-color:  hsla(350, 100%, 90%, 0.6);
}
div.touch-control .hand-center {
  background-color:  hsla(350, 100%, 90%, 0.6);
}
div.touch-control .right-group {
  right: 200px;
}
div.touch-control .left-group {
  left: 200px;
}
div.left-group,
div.right-group {
  bottom: 480px;
}

.tools {
  margin-bottom: 20px;
  position: absolute;
  bottom: 60px;
  left: 80px;
}

.tools button {
  font-family: Josefin Sans, Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 70%);
  border-radius: 4px;
  border: none;
  padding: 8px 12px;
  margin-right: 12px;
  font-size: 20px;
  transition-duration: 120ms;
}


.tools button:active {
  transform: scale(1.1);
  transition-duration: 40ms;
}
